.main {
    display: flex;
    flex-direction: column;

    border: 1px solid green;

    .item1 {
        display: flex;
        flex-direction: row;
        margin: 0 $body-item-marge;
        padding: 7rem 4rem;

        .txt {
            width: 50%;
            text-align: center;

            h1 {
                span {
                    display: block;

                    &:nth-child(1) {
                        color: $primary-color;
                    }
                    &:nth-child(2) {
                        color: $secondary-color;
                    }
                }
            }

            p {
                line-height: $base-line-height * 2;
            }

            .info {
                $info-font-size: $font-size * 0.6;

                font-size: $info-font-size;

                a {
                    font-size: $info-font-size;
                }
            }

            .price {
                line-height: $base-line-height * 8;

                font-weight: 600;
                font-size: $font-size * 3;
                letter-spacing: $letter-spacing;
            }

            form {
                input {
                    width: $input-width;
                }

                input[type="search"] {
                    @extend .search-input;
                }

                input[type="range"] {
                    margin-top: 0.75rem;
                    line-height: 5rem;

                    border-radius: 5px;
                }

                p {
                    margin: 0 0 1rem;
                    line-height: 1;
                }

                a {
                    font-size: $font-size * 0.5;
                    color: $paragraph-txt-color;
                }
            }
        }
    }

    .item2 {
        width: 100%;
        padding: 0 $body-item-marge;

        .box {
            position: relative;
            width: 100%;
            padding: 3rem 0;
            text-align: center;

            border: 1px solid green;

            .img-box {
                width: 100%;
                margin: 2rem 0;

                #community-img {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }

        .txt-box {
            display: flex;
            flex-direction: row;
            gap: 2rem;
            text-align: left;
            padding: 0 3rem;

            h5 {
                margin-bottom: 0.5rem;
            }

            p {
                line-height: $base-line-height * 1.5;
                letter-spacing: $letter-spacing;
                font-size: $font-size * 0.8;

                color: $paragraph-txt-color;
            }
        }
    }

    .item3 {
        padding: 0 $body-item-marge;

        .box {
            display: flex;
            justify-content: center;
            flex-direction: column;
            margin-top: 5rem;

            border: 1px solid blue;

            h2 {
                text-align: center;
            }

            .comparason-tab {
                width: $table-width;
                margin: 4rem auto 0;
                line-height: $base-line-height * 1.5;

                font-size: $font-size * 0.8;

                color: $paragraph-txt-color;

                $sub-title-font-size: $font-size * 0.9;

                thead {
                    th {
                        padding-bottom: 1.5rem;

                        font-size: $sub-title-font-size;

                        color: #000;
                    }
                }

                tbody {
                    tr {
                        th:nth-child(1) {
                            text-align: left;
                        }

                        &.sub-title {
                            th {
                                padding: 2rem 0;

                                font-size: $sub-title-font-size;
                                font-weight: 600;

                                color: #000;
                            }
                        }

                        &.protection-item {
                            font-size: $font-size;
                            font-weight: 500;

                            color: #000;

                            th {
                                padding: 2rem 0;
                            }
                        }

                        td {
                            padding-bottom: 2rem;
                            letter-spacing: $letter-spacing;
                        }

                        td:nth-child(2),
                        td:nth-child(3) {
                            padding: 0 4rem;
                        }

                        &:last-child {
                            td {
                                padding-top: 2rem;
                            }
                        }
                    }
                }
            }

            .ctr {
                height: 5rem;
                text-align: center;

                .more-info-btn {
                    width: 10rem;

                    text-decoration: none;

                    &:hover {
                        background: #f0f0f0;
                    }
                }
            }
        }
    }

    .item4 {
        padding: 0 $body-item-marge;

        background: $second-bg-color;

        .questions-ctn {
            display: flex;
            margin-top: 5rem;

            .left-side,
            .right-side {
                width: 50%;
            }

            .right-side {
                .item {
                    ul {
                        .scrolling-menu {
                            position: relative;
                            width: 100%;
                            height: 100%;
                            margin-bottom: 1.5rem;
                            top: 0;

                            font-size: 1.2rem;

                            h6 {
                                &:after {
                                    content: "â¯";
                                    display: inline;
                                    margin-left: 1rem;
                                    padding-top: 0.1rem;
                                }
                            }

                            .sub-menu {
                                width: 100%;
                                max-height: 0;
                                text-align: left;
                                letter-spacing: $letter-spacing;
                                font-size: $font-size * 0.8;
                                overflow: hidden;
                                line-height: $base-line-height * 1.5;

                                border-radius: 2px;

                                color: $paragraph-txt-color;
                                background-color: white;
                            }

                            &:hover > h6:after {
                                animation: rotateArrow 0.2s linear forwards;
                            }

                            &:hover .sub-menu {
                                animation: showSubMenu 1s forwards;
                            }

                            &.top-border {
                                padding-top: 1.5rem;
                            }
                        }
                    }

                    @keyframes rotateArrow {
                        0% {
                            transform: rotate(0deg);
                        }
                        50% {
                            transform: rotate(45deg);
                        }
                        100% {
                            transform: rotate(90deg);
                        }
                    }

                    @keyframes showSubMenu {
                        $pad: 0.3rem;

                        0% {
                            padding: $pad 0 $pad $pad;

                            box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0);
                        }
                        30% {
                            $pad: $pad + 0.4;
                            padding: $pad 0 $pad $pad;

                            box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
                        }
                        100% {
                            padding: $pad 0 $pad $pad;
                            max-height: 15em;

                            box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.3);
                        }
                    }
                }
            }
        }
    }

    .item5 {
        padding: 0 $body-item-marge;

        background: $second-bg-color;

        .box {
            @include communityImgBox;
            align-items: center;

            border: 1px solid;
            border-radius: 20px;

            .img-box,
            .txt-box {
                width: 50%;
                height: 100%;
            }

            .txt-box {
                display: flex;
                flex-direction: column;
                align-items: center;

                .txt-box__content {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    font-size: $font-size * 0.7;
                    color: $paragraph-txt-color;

                    p {
                        margin: 1rem 0;
                    }

                    a {
                        position: relative;
                        width: 12rem;
                        display: block;
                        left: calc(50% - 6rem);

                        text-decoration: none;

                        font-size: $font-size * 0.5;
                    }
                }
            }
        }
    }
}
