@media screen and (min-width: 1218px) {
    html {
        font-size: 0.8rem;

        .main {
            .item1 {
                gap: 10%;
            }
        }
    }
}

@media screen and (max-width: 1218px) {
    html {
        font-size: 0.7rem;

        .main {
            .item2 {
                .txt-box {
                    flex-direction: column;
                }
            }
        }
    }
}

@media screen and (max-width: 1092px) {
    html {
        .main {
            .item1 {
                flex-direction: column;
                gap: 15rem;

                .txt,
                #map {
                    width: 100%;
                    height: 200px;
                }
            }
        }
    }
}

@media screen and (max-width: 852px) {
    html {
        .main {
            .item1 {
                gap: 20rem;
            }
        }
        
    }    
}

@media screen and (max-width: 752px) {
    html {
        font-size: 0.4rem;

        .main {
            .item1 {
                gap: 5rem;
            }
        }
    }
}

@media screen and (max-width: 512px) {
    html {
        $html-elts-margin: 1rem;

        header .container {
            margin: 0 $html-elts-margin;
        }

        .main {
            .item {
                padding: 0 $html-elts-margin;
            }
            .item1 {
                margin: 0 $html-elts-margin;
                padding: 7rem 4rem;
            }
        }

        footer {
            .container {
                .box {
                    margin: 0 $html-elts-margin;
                }
            }
        }
    }
}