$header-height: 5rem;
$body-item-marge: 18rem;
$input-width: 25rem;
$table-width: 40rem;

$primary-color: #ff385c;
$secondary-color: #222222;
$second-bg-color: #eaeaea;
$link-color: #000;
$range-input-color: #000;
$range-input-fill-color: #dddddd;
$paragraph-txt-color: #717171;

// input[type='range']
/* piste */
$range-track-color: orange;
/* curseur */
$range-thumb-color: green;
/* avant le curseur */
$range-progress-color: red;
/* après le curseur */
$range-track-fill-color: blue;

$font-family: "Helvetica", sans-serif;
$font-size: 1.5rem;
$base-line-height: 1rem;
$letter-spacing: 0.1rem;